@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	border: 0;
}
.container_left{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
}

.container_right{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-end;
}

.container_center{
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

.title{
    font-size:100%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}
.subtitle{
	font-size:90%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}
.text{
	font-size: 80%;
	letter-spacing: 1px;

	line-height: 1.6875;
	font-family: 'Open Sans', sans-serif;
}
.subText{
    font-size: 70%;
    letter-spacing: 1px;

    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
}

.clamp{
	padding: 0;
    margin: 0;
    border: 0;
}

.frame{
	padding: 10px 10px;
}

/* Resize text as screen is resized */
@media only screen and (min-width:300px) and (max-width:400px){
    .title{font-size:60%;}
    .subtitle{font-size: 50%;}
    .text{font-size: 40%;}
    .subtext{font-size: 30%;}
    .icon img{width: 10px;}
}
@media only screen and (min-width:401px) and (max-width:800px){
    .title{font-size:80%;}
    .subtitle{font-size: 70%;}
    .text{font-size: 60%;}
    .subtext{font-size: 50%;}
    .icon img{width: 15px;}
}
@media only screen and (min-width:801px) {
    .title{font-size:100%;}
    .subtitle{font-size: 90%;}
    .text{font-size: 80%;}
    .subtext{font-size: 70%;}
    .icon img{width: 20px;}
    /*.wrap{max-width:770px;}*/
}

html, body{
    font-size: 100%;
    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgrey;
}

.wrapper{
}
.w_image{
	display: inline;
	max-width: 50%;
}
.w_text{
	display: inline;
	max-width: 50%;
	height: auto;
}
.w_cen{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.f_left{
	float: left;
}
.f_right{
	float: right;
}

.cant_read{
    background-color: grey;
    color: white;
}

.cant_read a{
    color: white;
    text-decoration: none;
}
.cant_read a:hover{
    color: white;
    text-decoration: underline;
}

.main_wrapper{
	background-color: white;
}

.wrapper{
}

.w_text{
	padding: 0px 5%;
}

.welcome_msg{
	padding: 20px;
}

.get_cocoon{
    background-color: #7fc170;
    color: white;
    margin-top: 4%;
    text-decoration: none;
}
.get_cocoon a{
    color: white;
    text-decoration: none;
}
.get_cocoon a:hover{
    text-decoration: underline;
}


.cards{
	margin-top: 4%; 
}

.outtro{
	padding: 20px;
	margin-top: 2%;
}

.footer{
	margin-top: 4%;
    padding: 20px 20px;
	background-color: grey;
}
